@mixin font-face($font-familiy, $url, $weight, $font-style: normal){
    @font-face {
    src:
        local($font-familiy),
        url('../../fonts/#{$url}.woff2') format('woff2');
    font-family: $font-familiy;
    font-weight: $weight;
    font-style: $font-style;
    font-display: swap;
}
}