.header {
  padding: 26px 0 22px;

  &__inner {
    @include flex-all-between;
  }
  &__right {
    @include flex-align-center;
    gap: 111px;
  }
  &__switcher {
    position: relative;
    border-radius: 13px;
    width: 63px;
    height: 27px;
    background-color: var(--neutral-color130);
    transform: translateX(8px);
    transition: background-color var(--transition);

    &::before {
      position: absolute;
      top: 2px;
      left: 3px;
      content: '';
      border-radius: 50%;
      display: inline-block;
      width: 23px;
      height: 23px;
      background-color: var(--neutral-color120);
      transition:
        left var(--transition),
        background-color var(--transition);
    }
    &-checkbox{
      appearance: none;
    }
    
    &-text {
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 600;
      line-height: 150%;
      text-align: center;
    }

    &:has(&-checkbox:checked) {
      background-color: var(--neutral-color60);

      &::before {
        left: 37px;
        background-color: var(--primary-color50);
      }
    }
  }
}

.nav {
  &__list {
    @include flex-align-center;
    gap: 32px;
  }

  &__link {
    position: relative;
    line-height: 131%;
    letter-spacing: -0.03em;
    color: var(--neutral-color100);

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -5px;
      left: 0;
      height: 1px;
      background-color: var(--neutral-color100);
      opacity: 0;
      visibility: hidden;
      transition:
        opacity var(--transition),
        visibility var(--transition);
    }

    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
